@charset "utf-8";

$color-text:#5A5A5A;
$color-main: #ED145B;
$color-bg:#2B2B2B;
$color-accent: #EDAA14;

@mixin mx-query() {
    @media (min-width: (640px)) {
        @content;
    }
}

@mixin mx-inner($mw: 900px, $w: 87.5%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin mx-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin mx-h2(){
    margin-bottom: 50px;
    color: $color-bg;
    font-size: 38px;
    font-weight: bold;
    line-height: (46/38);
    letter-spacing: 0.025;
    text-align: center;
}

body {
    color: #fff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: (24/14);
    letter-spacing: 0.025;
}

/* header */
.header{
    width:100%;
    padding:40px 0;
    background-color: #000;
    font-weight: bold;
    position: fixed;
    top:0;
    left:0;

    &__inner{
        @include mx-inner();
        @include mx-flex();
    }

    &__list{
        @include mx-flex();
    }

    &__item{
        padding-left:30px;

        &--act{
            color: $color-main;
        }

        &:hover {
                color:$color-main;
            }
    }
}

/* footer */
.footer{
    padding: 60px 0 160px;
    background-color: #000;
        &__inner {
            @include mx-inner();
        }
}

/* card */
.card{

    &__title{
        width: fit-content;
        margin-top:25px;
        padding: 7px 10px;
        background-color:#000;
        font-weight: bold;
        line-height: (20/16);
    }

    &__text{
        margin-top:20px;
        color:$color-text;
    }
}


/* btn */
.btn{
    display: inline-block;
    width:200px;
    margin-top:80px;
    padding:15px;
    background-color: $color-main;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    &--accent{
        margin-top: 40px;
        background-color: #EDAA14;
    }
}

/* index
------------------------------- */
/* free */
.free{
    padding:250px 0 150px;
    background:url(../images/bg_mainvisual.png) no-repeat center/cover;

    &__title{
        margin-bottom: 40px;
        font-size: 46px;
        font-weight: bold;
        line-height: (55/46);

        &--act{
            color: $color-main;
        }
    }

    @include mx-query(){
        text-align: center;
    }
}

/* update */
.updates{
    margin:80px 0;

    &__inner{
        @include mx-inner();
    }

    &__title{
        @include mx-h2();
    }

    &__item{
        margin-bottom:60px;

        img {
                aspect-ratio: 16/9;
                object-fit: cover;
            }
    }

    @include mx-query(){
        &__list {
            @include mx-flex();
        }
        &__item {
            width:(260/900)*100%;

            img{
                aspect-ratio: 4/3;
                object-fit: cover;
            }
        }
    }

}

/* about
------------------------------- */
/* services */
.services{
    margin:180px 0 80px;

    &__inner{
        @include mx-inner();
    }

    &__title{
        @include mx-h2();
    }

    &__item{
        margin-bottom: 60px;
        &:nth-child(2n-1){
            .card__title{
                margin-left: auto;
            }
        }
            img {
                aspect-ratio: 16/9;
                object-fit: cover;
            }
    }
    @include mx-query(){
        &__list{
            @include mx-flex();
        }

        &__item{
            width:(420/900)*100%;

            &:nth-child(2n-1) {
                    .card__title {
                        margin-left: 0;
                    }
                }

            img {
                    aspect-ratio: 4/3;
                    object-fit: cover;
                }
        }
    }
}

/* testimonials */
.testimonials {
    padding: 80px 0;
    background: url(../images/bg_testimonials.png) no-repeat center/cover;
    text-align: center;

    &__inner{
        @include mx-inner();
        padding:50px;
        background-color: #fff;
    }

    &__title{
        @include mx-h2();
    }

    &__text{
        margin:30px 0;
        color:$color-text;
        font-size: 16px;
        font-style: italic;
        line-height: (32/16);

        span{
            display: inline-block;
        }
    }

    &__name{
        color: $color-text;
    }
}